@import 'myAntd.css';
.m-wrap{display: flex;flex-direction: column;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-header{display: flex;height: 64px;border-bottom: 1px solid #ddd;line-height: 64px;}
.m-header-logo{width: 150px;text-align: center;font-weight: bold;font-size: 20px;}
.m-header-nav{flex:1;border-bottom: none;line-height: 64px;}
.m-header-operate{width: 200px;text-align: right;padding: 0 40px;}
.m-content{flex:1;padding: 10px 0 50px;overflow-y: auto;background: #f0f2f5;}
.m-admin-content{display: flex;flex-direction: column; flex:1;padding: 0 0 0; overflow-y: auto;background: #f0f2f5;}
.m-admin-content.home{padding: 100px 0 50px;}
.m-app-item{display: inline-block;position: relative; margin: 0 20px 20px 0; padding: 0 5px; background: white;font-size: 20px; width: 200px;height: 80px;line-height: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: center;cursor: pointer;}
.m-app-item:hover{box-shadow: 10px 10px  10px #ddd;}
.m-app-item-icon{display: none;position:absolute;top: 0;right: 0;width: 30px;height: 30px;line-height: 30px;}
.m-app-item:hover .m-app-item-icon{display: inline-block;}
.m-admin-row{margin: 0 100px 20px;}
.m-adimn-row-title{font-size: 20px;font-weight: bold;line-height: 50px;}
.m-admin-wrap{display: flex;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-admin-menu-wrap{width: 130px;}
.m-admin-menu{height: 100%;overflow-y: auto;}
.m-admin-info{display: flex;flex-direction: column; flex:1;}
.m-admin-logo{line-height: 50px;height: 50px; font-size: 20px;font-weight: bold;text-align: center;border-bottom: 1px solid #333;}
.m-header-title{padding: 0 0 0 20px; font-weight: bold;font-size: 18px;}
.m-empty-page{flex:1;line-height: 300px; text-align: center;color: #ddd;font-size: 50px;overflow-y: auto;background-color: #f0f2f5;}
.m-empty-text{line-height: 300px;text-align: center;color: #ddd;font-size: 30px;}
.m-space{margin: 0 8px 0 0;}
.m-action{text-align: left;}
.m-action-btn{margin: 1px 2px; font-size: 12;}
.m-content-tool{margin: 5px 10px 5px;padding: 10px; background: white;}
.m-content-table{margin: 5px 10px 5px;}
.m-set-application-header{line-height: 50px;height: 50px;font-size: 30px;font-weight: bold;}
.m-set-application-header-icon{display: inline-block; width: 50px;font-size: 30px;text-align: center;font-weight: normal;cursor: pointer;}
.m-fields-required-input{display: none;margin: 5px 0 0;}
.m-fields-required-input.active{display: block;}
.m-set-application-modal .ant-modal-body{max-height: 400px;overflow-y: auto;}
.m-index-content-modal .ant-modal-body{max-height: 400px;overflow-y: auto;}
.m-application-icon{font-size: 20px;}
.m-tool-btn-icon{vertical-align: top;}
.m-set-application-modal-form{position: relative;}
.m-design-header{display: flex; line-height: 50px;height: 50px;font-size: 30px;font-weight: bold;background: white;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);z-index: 9;}
.m-design-header-title{min-width: 250px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.m-design-header-middle{display: flex;align-items: center; flex:1;font-size: 20px;justify-content: center;}
.m-design-header-middle-inner{display: inline-block; min-width: 400px;}
.m-design-header-middle-item{color: #333;margin: 0 5px;}
.m-design-header-middle-item.active{color: #1890ff;}
.m-design-header-action{display: flex;padding: 0 18px 0 0; align-items: center; width: 250px;gap: 8px;justify-content: flex-end;}
.m-design-wrap{display: flex;flex:1;overflow-y: auto;}
.m-design-sidebar{width: 320px;border-left: 1px solid #ddd;height: 100%;overflow-y: auto;background: white;}
.m-design-sidebar.skin{padding: 10px 0;}
.m-design-content{position: relative; flex: 1;margin: 0 5px;padding: 20px 5px; overflow-y: auto;background: white;}
.m-design-attr{padding: 10px 0 0; width: 320px;border-right: 1px solid #ddd;height: 100%;overflow-y: auto;background: white;}
.m-design-card-wrap{padding: 5px; border: 1px dashed #ddd;}
.m-design-card{position: relative; display: flex; margin: 0 0 5px; padding: 5px 0;border: 1px dashed #ddd; cursor: pointer;}
.m-design-card.active{background: #edf2fd;}
.m-design-card-info{flex: 1}
.m-design-card-action{position: absolute;display: none; bottom: -16px; right: 10px; width: 70px;text-align: right;}
.m-design-card-action.active{display: block;}
.m-design-card-delete{color: red;font-weight: bold;font-size: 20px;}
.m-design-footer{margin: 20px 8px 0;}
.m-formview-wrap{position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 0 0; background-size: 100% 100%; overflow-y: auto;overflow-x: hidden;text-align: center;}
.m-formview-inner{display: inline-block;margin: 16px 0; padding: 0 0 100px;width: 800px;min-height: 100%; background: white;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);text-align: left;}
.m-formview-color-header{height: 40px;background: #1890ff;}
.m-formview-header-img{width: 100%;}
.m-formview-header-text{display: flex;align-items: center; margin: 0 0 40px; padding: 10px 10px 10px; font-size: 24px;font-weight: bold;border-bottom: 1px solid #ddd;}
.m-formview-header-text.image-first{margin: 0;}
.m-qrcode-img{display: inline-block;vertical-align: top;margin: 5px 0 0; width: 30px;height: 30px;cursor: pointer;}
.m-formview-formitem{padding: 0 10px;}
.m-component-item{color: #333; cursor: pointer;text-align: center;}
.m-component-item:hover{color: #1890ff;}
.m-center-list-wrap{padding: 5px; min-height: 200px;border: 1px dashed #ddd;}
.m-center-list-wrap.active{background: #edf2fd}
.m-box-wrap{margin: 10px 0;}
.m-box{display: inline-block; border: 1px dashed #ddd;padding: 10px;}
.m-test-wrap{display: flex;}
.m-test-tool{width: 200px;margin: 10px; padding: 10px; border: 1px dashed #ddd;}
.m-test-list{width: 200px;; margin: 10px; padding: 10px; border: 1px dashed #ddd;}
.m-design-sidebar-container .smooth-dnd-container{width: 100%; display: flex!important;flex-flow: row wrap;row-gap: 20px}
.m-design-sidebar-container .smooth-dnd-draggable-wrapper{flex: 0 0 33.33333333%;}
.m-not-found-wrap{display: flex;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-not-found{margin: auto;}
.m-not-found-img{margin: -100px 0 0 0; width: 404px; height: 204px;background-image: url(../images/m-not-found.png);}
.m-not-found-text{color: #333;line-height: 40px;text-align: center;}
.m-index-wrap{display: flex; position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-list{display: flex;flex-direction: column; position: relative;flex:1;overflow: hidden;}
.m-sidebar-icon.big{font-size: 22px!important;margin: 0 0 0 -4px;}
.m-sidebar-icon-wrap{vertical-align: text-bottom;}
.m-logo{height: 64px;line-height: 64px;text-align: center;font-size: 20px;font-weight: bold; color: white;border-bottom: 1px solid #333;white-space:nowrap}
.m-logo.light{color: rgba(0, 0, 0, 0.6);border-bottom: 1px solid #ddd;}
.m-list-header{display: flex; height: 64px;line-height: 64px;border-bottom: 1px solid #ddd;}
.m-list-header-icon{display: inline-block; width: 52px;height: 64px;font-size: 30px;cursor: pointer;text-align: center;}
.m-list-header-icon.rotate{transform: rotate(180deg);}
.m-list-header-icon:hover{background: #ddd;}
.m-list-info{display: flex;flex-direction: column; flex: 1;overflow-y: auto;background: #f0f2f5;}
.m-list-header-info{flex: 1}
.m-list-header-menu{width: 300px; text-align: right;padding: 0 20px 0 0;}
.m-list-header-menu-welcome{margin: 0 20px 0 0;}
.m-list-header-menu-username{margin: 0 5px;cursor: pointer;}
.m-list-header-menu-theme{margin: 0 0 0 20px;cursor: pointer;}
.m-list-nav{display: flex; padding: 5px 0 5px 20px;border-bottom: 1px solid #ddd;}
.m-list-nav-info{margin: 0 0 0 20px;vertical-align: top;color: rgba(0, 0, 0, 0.45);}
.m-list-nav-info-icon{display: inline-block; margin: -1px 0 0 5px;vertical-align: top;color: rgba(0, 0, 0, 0.45);}
.m-home-content-box{margin: 10px 10px 5px;padding: 10px;}
.m-home-welcome{font-size: 20px;line-height: 32px;color: #333;margin: 0 0 10px 10px;}
.m-content-wrap{display: flex;flex:1;height: 100%;}
.m-loading{display: none; position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0);z-index: 10000;}
.m-loading.active{display: flex;}
.m-spin{margin: auto;}
.m-back-top{right: 30px;}






@media screen and (max-width: 800px) {  
.m-formview-inner{width: 100%;} 
.m-formview-inner{margin: 0;}
}
@media (max-width:575px) {
.m-formview-formitem-footer-mobile .ant-form-item-control{margin-left: 0;text-align: center;}

}








