@import '~antd/dist/antd.css';
.m-wrap{display: flex;flex-direction: column;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-header{display: flex;height: 50px;border-bottom: 1px solid #ddd;line-height: 50px;}
.m-header-logo{width: 150px;text-align: center;font-weight: bold;font-size: 20px;}
.m-header-nav{flex:1;border-bottom: none;line-height: 50px;}
.m-header-operate{width: 200px;text-align: right;padding: 0 40px;}
.m-content{flex:1;padding: 10px 0 50px;overflow-y: auto;background: #f0f2f5;}
.m-admin-content{display: flex;flex-direction: column; flex:1;padding: 10px 0 0; overflow-y: auto;background: #f0f2f5;}
.m-admin-content.home{padding: 100px 0 50px;}
.m-app-item{display: inline-block;position: relative; margin: 0 20px 20px 0; background: white;font-size: 20px; width: 200px;height: 80px;line-height: 80px;text-align: center;cursor: pointer;}
.m-app-item:hover{box-shadow: 10px 10px  10px #ddd;}
.m-app-item-icon{display: none;position:absolute;top: 0;right: 0;width: 30px;height: 30px;line-height: 30px;}
.m-app-item:hover .m-app-item-icon{display: inline-block;}
.m-admin-row{margin: 0 100px 20px;}
.m-adimn-row-title{font-size: 20px;font-weight: bold;line-height: 50px;}
.m-admin-wrap{display: flex;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-admin-menu-wrap{width: 130px;}
.m-admin-menu{height: 100%;overflow-y: auto;}
.m-admin-info{display: flex;flex-direction: column; flex:1;}
.m-admin-logo{line-height: 50px;height: 50px; font-size: 20px;font-weight: bold;text-align: center;border-bottom: 1px solid #333;}
.m-header-title{padding: 0 0 0 20px; font-weight: bold;font-size: 18px;}
.m-empty-page{flex:1;line-height: 300px; text-align: center;color: #ddd;font-size: 50px;overflow-y: auto;background-color: #f0f2f5;}
.m-space{margin: 0 8px 0 0;}
.m-action{text-align: left;}
.m-action-btn{margin: 1px 2px; font-size: 12;}
.m-content-tool{margin: 5px 10px 5px;padding: 10px; background: white;}
.m-content-table{margin: 5px 10px 5px;}
.m-set-application-header{line-height: 50px;height: 50px;font-size: 30px;font-weight: bold;}
.m-set-application-header-icon{display: inline-block; width: 50px;font-size: 30px;text-align: center;font-weight: normal;cursor: pointer;}
.m-fields-required-input{display: none;margin: 5px 0 0;}
.m-fields-required-input.active{display: block;}
.m-set-application-modal .ant-modal-body{max-height: 400px;overflow-y: auto;}
.m-index-content-modal .ant-modal-body{max-height: 400px;overflow-y: auto;}
.m-application-icon{font-size: 20px;}
.m-tool-btn-icon{vertical-align: top;}
.m-set-application-modal-form{position: relative;}
.m-design-header{line-height: 50px;height: 50px;font-size: 30px;font-weight: bold;background: white;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);z-index: 9;}
.m-design-wrap{display: flex;flex:1;height: 100%;}
.m-design-sidebar{width: 320px;border-left: 1px solid #ddd;height: 100%;overflow-y: auto;background: white;}
.m-design-content{flex: 1;margin: 0 5px;padding: 20px 5px; overflow-y: auto;background: white;}
.m-design-attr{width: 320px;border-right: 1px solid #ddd;height: 100%;overflow-y: auto;background: white;}
.m-design-card{margin: 0 0 5px; padding: 5px 0;border: 1px dashed #ddd; cursor: pointer;}
.m-design-footer{margin: 20px 0 0;}


